# Painel do projeto Supabase: https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_ml7ZV4C4IsND6EVDLUcEdg_caxSV-bm

# Chave de serviço (service role) - NUNCA expor ao client, usar só em scripts/route handlers server-side
SUPABASE_SERVICE_ROLE_KEY= sb_secret_FTJc05pwFP-Iuey7vHthSg_vu5POQe0

# String de conexão direta ao Postgres (Settings > Database > Connection string > URI), usada pelo Drizzle
DATABASE_URL= postgresql://postgres.mlywajgnrqnvmpvvqjee:[pirulitoleohaha]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres
